*.class
*.log
**/.DS_Store

target/
.history
.cache
.lib/
.idea
project

out*

**/application-local.conf

**/wmt-cill-dev-svc-cill-dev-account1-oa.json
**/wmt-cill-stage_svc-cill-stage-account1-oa.json
**/wmt-cill-stage_svc-cill-itc1-account1-r.json
.run
